body {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium';
	background-color: wheat;
	color: whitesmoke;
}
.grid-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

/* INICIO HEADER */
header {
	grid-row: 1 / 2;	
	padding-bottom: 20px;
}
.titulo {
	font-size: 50px;
	text-align: center;
	color: #1E201E;
	margin-top: 15px;
	margin-bottom: 15px;
}
.capW {
	font-size: 55px;
}
.capS {
	font-size: 55px;
	color: #102C57;
}
.ups {
	color: #102C57;
}
nav {
	display: flex;
	justify-content: center;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
}
nav a {
	margin-inline: 10px;
	font-size: 25px;
	font-weight: bold;
	color: #102C57;
	text-decoration: none;
}
/* FIN HEADER */

/* INICIO MAIN */
main {
	grid-row: 2 / 3;
	background-color: #102C57;
	padding: 100px;
	font-size: 20px;
	background: linear-gradient(45deg, #1E201E 45%, #102C57);
	display: flex;
}
main p {
	width: 500px;
}
main table {
	margin-top: 150px;
}
main td {
	padding-top: 10px;
	padding-right: 20px;
}
.numHeroes, .numTeams {
	font-size: 25px;
	font-weight: bold;
	color: gold;
}
.logos {
	display: flex;
	justify-content: center;
}
.logos img {
	margin-left: 30px;
}
.glLogo, .flashLogo {
	align-self: end;
}
/* FIN MAIN */

/* INICIO FOOTER */
footer {
	grid-row: 3 / 4;
	display: flex;
	justify-content: space-between;
	color: #102C57;
	padding: 20px 50px 10px 50px;
}
.bat {
	width: 150px;
	transition: 0.5s;
}
.bat:hover {
	transform: scale(1.25);
}
/* FIN FOOTER */